.header{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.header-logo{
    height: 27px;
    max-width: 140px;
    margin-right: 24px;
}

.header-right{
    display: flex;
    flex: 1;  /*take all the space */
    justify-content: space-between; /* push to the extrem*/
    align-items: center;
    height: 72px;
}

.header-location{
    height: 54px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    box-shadow: rgb(28, 28, 28 / 8%) 0px 2px 8px;
    border: 2px solid rgb(232, 232, 232);
    width: 70%;
    background-color: rgb(255, 255, 255);
}

.location-wrapper{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

.location-icon-name{
    display: flex;
    align-items: center;
    margin-right: 10px;
    color: #828282;
}

.location-icon{
    color: #ff7e8b;
    font-size: 20px;
    margin-right: 10px;
}

.location-separator{
    color: #828282;
    height: 20px;
    border: 0.5px solid grey;
}

.header-search-bar{
    margin: 8px;
    flex: 2;
}

.search-icon{
    font-size: 20px;
    color: #828282;
    margin: 0px 12px;
}

.search-box{
    border: none;
    outline: none;
    width: 60%;
    font-size: 14px;
}

.profile-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
}

.header-profile-img{
    height: 40px;
    width: 40px;
    border-radius: 50px;
    color: #ff7e8b;
}

.user-name{
    font-size: 16px;
    font-weight: 600;
    margin: 10px;
}

.profile-option-icon{
    font-size: 20px;
}